	body{
		width: 860px;
		margin: 0 auto;
	}
	article{
		margin-top: 45px;
	}
	section{
		display: inline-block;
	}
	img {
    	border-radius: 50%;
    	text-align: center;
	}
	h1{
		font-family: impact;
		letter-spacing: 2px;
		font-size: 52px;
		margin:0;
		text-align: center;
	}
	p{
		font-family: sans-serif;
		font-size: 20px;
		letter-spacing: 1.25px;
		text-align: center;
		color: #8B1Eff;
	}
	.outterboard{
		display: inline-block;
		border: solid 1px;
		padding: 10px;
		border-color: white white;
	}
	.innerboard{
		border-radius: 15px;
		background-color: white;
		width: 150px;
		display: inline-block;
		margin-right: 10px;
		margin-left: 10px;
		padding: 10px;
	}
	.innerboard:hover{
		background-color:rgba(87,210,250,250);
	}
	.innerboard:hover p{
		visibility: block;
	}
	hr.style18 { 
  		height: 30px; 
  		border-style: solid; 
  		border-color: #8c8b8b; 
  		border-width: 1px 0 0 0; 
  		border-radius: 20px; 
	} 
	hr.style18:before { 
  		display: block; 
		content: ""; 
		height: 30px; 
		margin-top: -31px; 
		border-style: solid; 
		border-color: #8c8b8b; 
		border-width: 0 0 1px 0; 
		border-radius: 20px; 
	}