.tnail{
	width: 100px;
}

.pphoto{
	width: 300px;
	border-width: 8px;
}

	img{
    border-radius: 50%;
    border-color:rgba(87,210,255,125); 
    text-align: center;
}

	h1{
	font-family: impact;
	letter-spacing: 2px;
	font-size: 32px;
	margin: 0px;
}

	p{
	font-family: sans-serif;
	font-size: 20px;
	letter-spacing: 1.25;
	text-align: center;
}

	div{
	border: solid;
	padding: 10px;
	border-radius: 15px;
}
